/*
    Global selector - *
    Element/Type selector - h1, h2, p, div, etc...
    ID selector - #box, #container...
    Class selector - .red, .m-4...
    Atribute selector, Pseudo-class, Pseudo-element, e outros...
*/